
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth.token.email == 'admin@mediminder.com';
    }

    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId || isAdmin();
      allow create: if request.auth.uid != null;
      allow list: if isAdmin();
      
      match /{allPaths=**} {
        allow read, write: if request.auth.uid == userId || isAdmin();
      }
    }

    match /invitations/{invitationId} {
      allow read, update: if request.auth.uid != null && (request.auth.uid == resource.data.inviterId || request.auth.token.email == resource.data.inviteeEmail);
      allow create, delete: if request.auth.uid != null;
      allow list: if request.auth.uid != null && (request.query.where.inviterId == request.auth.uid || request.query.where.inviteeEmail == request.auth.token.email);
    }
  }
}
